{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!

{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px / 1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper" id='js-app'>
        <h1 v-once>{* title *}</h1>
        <h1>
            {* title *}
        </h1>

        <h1 v-if="st == true">{* title1 *}</h1>
        <h1 v-else>{* title2 *}?</h1>

        <button @click="schimbaTitlu">Schimba Titlu</button>


        <div>
            {* message *}
            <button v-on:click="changeText">Click me</button>
            <input v-model="title">

        </div>
    </div>
{% endblock %}
