<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('counter') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <style>
                .example-wrapper {
                    margin: 1em auto;
                    max-width: 800px;
                    width: 95%;
                    font: 18px / 1.5 sans-serif;
                }
                .example-wrapper code {
                    background: #F5F5F5;
                    padding: 2px 6px;
                }
            </style>
            <div class="container" id='js-counter'>
                <h1>Counter</h1>

                <div class="row">
                    <div class="col-12"><input v-model="counter"></div>
                    <div class="row">
                        <div class="col-12">
                            <br>
                            <div>
                                <button class="primary" v-on:click="up">Counter Up</button>
                                <button class="danger" v-on:click="down">Counter Down</button>
                                Counter: {* counter *}

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('counter') }}
        {% endblock %}
    </body>
</html>
